<% include header %>

<div class="jumbotron">
	<h1 style="color: #5bdb99">Welcome to LiveTalk</h1>
	<p>
		LiveTalk is an Instant Messaging and LiveStreaming Platform based on Node.js
	</p>
	<p >
		<a href="/topics" class="btn btn-primary btn-large" 
		style=" border-color: #5cbddb;">enter chatrooms</a>
	</p>
</div>


	<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 category">
					<h2>Homework Help</h2>
					<div class="category-post">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 category">
					<h2>Politics</h2>
					<div class="category-post">
					</div>
				</div>
			</div> <!--1st row-->
			<div class="row">
				<div class="col-xs-12 col-sm-6  category">
					<h2>Someone to talk to</h2>
					<div class="category-post">
					</div>
				</div> 
				<div class="col-xs-12 col-sm-6  category">
					<h2>Research</h2>
					<div class="category-post">
					</div>
				</div>
			</div> <!--2nd row-->
		</div>
	</div>
</div>

<% include footer %>