<% include header %>
		<div class="container">
		  <form name="post-form" method="post">
					<h1>Create a Chat</h1>
					<label>Enter your topic: </label>
				<input type="text" name="topic" placeholder="Topic" style="width: 400px" required><br>
					<p>Choose a category</p>
					<select name="category">
					  <option value="homework">Homework</option>
					  <option value="politics">Politics</option>
					  <option value="talk">Someone to talk to</option>
					  <option value="research">Research</option>
					</select>
					<br />
					<p>How many people do you want to chat with?</p>
				<input list="people" name="people">
				  <datalist id="people">
				    <option value="1">
				    <option value="2">
				    <option value="3">
				    <option value="4">
				    <option value="5">
				    <option value="6">
				    <option value="7">
				    <option value="8">
				    <option value="9">
				  </datalist> </input>
				  	<p>Choose a medium : </p>
				  <input list="type" name="type">
				  <datalist id="type">
				    <option value="video">
				    <option value="chat">
				    <option value="either">
				  </datalist>
				  <br>
				  <hr>
				<input class="btn btn-lg btn-primary" type="submit" value="Post">
				</input>
			</form>
		</div> <!--container-->
	</div>
<% include footer %>